
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

body{
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.card{
    background-image: linear-gradient(-25deg, #7042dc 0%, #f590d8 100%);
    width: 25vw;
    height: 70vh;
    border-radius: 20px;
    border: 2px solid rgba(154,154,154,0.75);
    box-shadow: 0 8px 32px rgba(31,38,135,0.37);
    padding: 10px;
    transition: 0.3s ease;
}

@media (max-width: 600px){
    .card{
        width: 90vw;
        height: auto;
        padding-bottom: 20px;
    }

    .search-bar{
        flex-direction: row;
        width: 100%;
        margin-top: 15px;
    }

    .input{
        width: 75%;
        height: 2.3rem;
        font-size: 14px;
    }

    .weather-image{
        width: 110px;
        margin-top: 10px;
    }

    h1{
        font-size: 38px;
    }

    h2{
        font-size: 18px;
    }

    .humidity-unit, .wind-unit{
        font-size: 17px;
    }

    .bottom-last{
        margin-top: 25px;
        flex-direction: row;
        gap: 30px;
        justify-content: space-between;
    }
}


@media (min-width: 600px) and (max-width: 900px){
    .card{
        width: 60vw;
        height: auto;
        padding-bottom: 25px;
    }

    .weather-image{
        width: 130px;
    }

    h1{
        font-size: 45px;
    }

    .input{
        font-size: 15px;
    }
}

@media (min-width: 900px) and (max-width: 1200px){
    .card{
        width: 35vw;
        height: 70vh;
    }
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.input{
    border-radius: 9999px;
    border: none;
    width: 80%;
    height: 2.5rem;
    padding-left: 25px;
    color: #222 !important;
    outline: none;
    
}

.input::placeholder{
    color: #bebebe;
}

.input:focus{
    box-shadow: 0 0 8px rgba(255,255,255,0.6);
}

.search-icon{
    width: 16px;
}

.search-button{
    display: flex;
    align-items: center;
    background: #fff;
    padding: 8px 9px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

.search-button:hover{
    transform: scale(1.1);
}

.main-reading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-image{
    width: 150px;
}

h1{
    font-size: 50px;
    font-weight: 600;
}

h2{
    font-weight: 500;
    text-align: center;
}

.left, .right{
    display: flex;
    gap: 15px;
}


.humidity-img{
    margin-top: 13px;
    height: 28px;   
}

.side{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.humidity-unit, .wind-unit{
    font-size: 20px;
}

.unit-name{
    font-size: 12px;
}

.bottom-last{
    display: flex;
    justify-content: space-between;
    margin: 20px 14px;
}

